<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome Page</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/home.css}" />
</head>
<body>
	<div>
		<div style="margin:5%; margin-left: 10%; margin-right: 10%; background: red; ">
			<div style="margin:20px; margin-left: 30%; margin-right: 10%; width: 50%; padding-top: 20px;  ">
				<form action="" method="post" style="padding-left: 5px; padding-right: 5px; border-radius: 10px;  margin-top: 10px; background: #fff; display: flex; justify-content: center;">
						<input type="text" placeholder="search for movies..," style="border: 0px; width: 100%; margin: 2px;" />
						<button style="width: 5%; margin: 2px; margin-right:2.5%; border: 0px; background: transparent;" >
							<i><img class="images" src="../icon/search (1).png"></i>
						</button>

				</form>
			</div>
		    <div style="display: flex;">
			    <div style="flex-basis: 25%; background: red; width:100%; height: 100%; padding-bottom: 10%; padding-top: 20px;">
			    	
				    <h3 style="background: black; color: white; padding: 5px; margin: 10px; margin-bottom: 20px;">AR Multiplex Theatre</h3>
				    <nav style="margin: 20px;">
                        <a href="/home"><img class="images" src="../icon/home.png"> Home</a>
                        <a href="/register"><img class="images" src="../icon/social.png"> Register</a>
                        <a href="/login"><img class="images" src="../icon/security.png"> Login</a>
                        <a href="#"><img class="images" src="../icon/id-card.png"> About Us</a>
                        <a class="last" href="#"><img class="images" src="../icon/contact.png"> Contact Us</a>
                    </nav>
                   
			    </div>
			    <div style="flex-basis: 70%; background: #fff;">
                    <div style="width: 100%; height: 100%;">
                        <h2>Welcome To AR Multiplex Theatre <br>
                        	Glad to meet you</h2>
                    </div>
                </div>
		    </div>
        </div>
	</div>
</body>
</html>